#root {
  max-width: 100vw;
}

.transparent-container {
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  background-color: rgba(34, 34, 34, 0.822);
}

.light-transparent-container {
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
  background-color: rgba(211, 211, 211, 0.822);
}

.main {
  position: relative;
}

.main:before {
  content: " ";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.65;
  background-image: url("./assets/book_store.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.main > div {
  position: relative;
}
